In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [6]:
thisset = {"apple",0, "banana", "cherry", False, True, 1, 2}
print(len(thisset))
print(thisset)
print(type(thisset))

6
{0, True, 2, 'cherry', 'apple', 'banana'}
<class 'set'>

In [13]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
#thisset.remove("banana")
thisset.discard("banana")
for x in thisset:
  print(x)

cherry
apple
orange

In [9]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'mango', 'papaya', 'apple', 'pineapple', 'banana'}

In [ ]:


#The union() and update() methods joins all items from both sets.

#The intersection() method keeps ONLY the duplicates.

#The difference() method keeps the items from the first set that are not in the other set(s).

#The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [16]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'Elena', 'bananas', 'apple', 'John', 'cherry', 'b', 'a', 'c'}

In [15]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
#set3 = set1 & set2
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
#set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [20]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
#set3 = set1 ^ set2
set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'banana', 'cherry', 'microsoft'}